.Order{
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}
.Order p button{
    color: white;
    border: #ff615d;
    background-color: #ff3d36;
    font-size: 14px;
    font-family: sans-serif;
    padding: 7px 12px;
    float: right;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}